doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="cleartype", content="on")
    meta(name="robots", content="index,follow")
    meta(name="revisit-after", content="1 days")
    meta(name="theme-color", content="#E23C39")
    meta(name="description", content="Pomodoro Technique Timer, keep track of your work with insightful statistics of the day. Effective time tracking with a tomato timer")
    title Pomodoro.cc - Time tracking with the Pomodoro technique
    link(rel="stylesheet", href="index.css?v={BUILD}")
    link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400")
  body
    #main-header
    main(role="main")
    #main-footer

    script(src="index.js?v={BUILD}", type="text/javascript")
    script(type="text/javascript") !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1"; analytics.load("{SEGMENT_WRITE_KEY}"); analytics.page() }}();
    script(type="text/javascript") ;window.cookieconsent_options = {"message":"Pomodoro.cc uses cookies to deliver you the best experience","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
    script(defer="", async="", src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js", type="text/javascript")
